@import url(https://fonts.googleapis.com/css?family=Economica:400,700);

body {
  background:white;
  font-family: "Economica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-backface-visibility: hidden;
}

:root {
    --primary-bg:lightcoral;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: "Economica", sans-serif;
  }
  

  #nav-wrapper {
    position: absolute;
    right: -20vmax;
    top: -20vmax;
    background: var(--primary-bg);
    width: 100vmax;
    height: 100vmax;
    border-radius: 50%;
    transition: 500ms cubic-bezier(0, 0.2, 0.4, 1);
  }
  
  /* menu btn styling */
  #menu-btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1000;
  
    padding: 5px;
  }
  
  .bar {
    display: block;
    width: 40px;
    height: 5px;
    background:brown;
    margin: 7px 0;
  }
  
  nav {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
  #nav-links li {
    list-style-type: none;
  }
  
  #nav-links {
    display: flex;
    font-size: 64px;
  }
  
  #nav-links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 0;
    transition: all 300ms ease-in;
    position: relative;
  }
  
  #nav-links a::after {
    position: absolute;
    top: 50%;
    left: 105%;
    content: " ";
    height: 60px;
    transform: translateY(-50%);
    width: 8px;
    background: white;
    opacity: 0;
    transition: 300ms ease-in;
  }
  
  #nav-links:hover a {
    opacity: 0.5;
  }
  
  #nav-links a:hover {
    opacity: 1;
    color: white;
  }
  
  #nav-links a:hover::after {
    opacity: 1;
  }
  

  .menu-closed {
    width: 0 !important;
    height: 0 !important;
  }
  

.home{
    position: absolute;
   
    align-items: center;
    margin: 20%;
    margin-top:10%;
    justify-content: center;
    font-size:5vh;
    line-height: 7vh;
    text-decoration:none;
    text-transform: none;
    z-index: -10;
}

.redeye{
    color:brown;
}
.redcat{
    width:90vh;
    height:80vh;
z-index:-999;
position: absolute;
right:0%;
bottom:0%;
display:none;
}
.redcat.active{
    display:flex;
}